.timelime-box {
  width: 500px;
  margin-bottom: 10px;
  overflow: hidden;

  &__row {
    background-color: lightgray;
    width: 500px;
    height: 20px;
    border-bottom: 1px solid black;
    position: relative;

    &:last-of-type {
      border-bottom: none;
    }
  }

  &__stitch {
    top: 2px;
    height: 16px;
    border-radius: 5px;
    position: absolute;

    :hover {
      box-shadow: 0 0 5px;
    }
  }
}

.timelime {
  width: 500px;
  position: relative;
  border-bottom: 2px solid gray;

  &__point {
    position: absolute;

    height: 10px;
    border-left: 1px solid gray;
  }
}

.all-shit {
  width: 500px;
  position: relative;

  &__this-shit {
    height: 100%;
    border-left: 2px solid black;
    z-index: 1000;
    position: absolute;
  }

  &__tip {
    position: absolute;
    bottom: -35px;
  }
}
